/*  ----- Admin User Parent Start  -----  */
.left-icns-tp img{width: 34px; vertical-align: top; padding-top: 12px;}
.border-bottm-9{border-bottom: 2px solid #189fbc;}
.left-icns-tp.dash-circle9{background-color: #189fbc !important;}
.clr-lamtr9{background: #189fbc !important;}
.border-bottm-10{border-bottom: 2px solid #6117ae;}
.left-icns-tp.dash-circle10{background-color: #6117ae !important;}
.clr-lamtr10{background: #6117ae !important;}
.border-bottm-11{border-bottom: 2px solid #0faf97;}
.left-icns-tp.dash-circle11{background-color: #0faf97 !important;}
.clr-lamtr11{background: #0faf97 !important;}
.border-bottm-12{border-bottom: 2px solid #78af0f;}
.left-icns-tp.dash-circle12{background-color: #78af0f !important;}
.clr-lamtr12{background: #78af0f !important;}
.border-bottm-13{border-bottom: 2px solid #afa90f;}
.left-icns-tp.dash-circle13{background-color: #afa90f !important;}
.clr-lamtr13{background: #afa90f !important;}
.border-bottm-14{border-bottom: 2px solid #c67707;}
.left-icns-tp.dash-circle14{background-color: #c67707 !important;}
.clr-lamtr14{background: #c67707 !important;}
.border-bottm-15{border-bottom: 2px solid #c60761;}
.left-icns-tp.dash-circle15{background-color: #c60761 !important;}
.clr-lamtr15{background: #c60761 !important;}
.border-bottm-16{border-bottom: 2px solid #c63d07;}
.left-icns-tp.dash-circle16{background-color: #c63d07 !important;}
.clr-lamtr16{background: #c63d07 !important;}

.border-bottm-17{border-bottom: 2px solid #870f9f ;}
.left-icns-tp.dash-circle17{background-color: #870f9f  !important;}
.clr-lamtr17{background: #870f9f  !important;}

.border-bottm-18{border-bottom: 2px solid #a74591;}
.left-icns-tp.dash-circle18{background-color: #a74591 !important;}
.clr-lamtr18{background: #a74591 !important;}

.border-bottm-19{border-bottom: 2px solid #2085ad;}
.left-icns-tp.dash-circle19{background-color: #2085ad !important;}
.clr-lamtr19{background: #2085ad !important;}


.pdding-30{padding: 30px !important;}
select::-ms-expand{display:none;}
select{-webkit-appearance:none;-moz-appearance:none;}
/*new profile image upload demo start*/
.img-prn-vwn{width: 200px; height: 150px;}
.profile-section-block .pro-img {display: block;height: 120px;width: 120px; border-radius: 50%;}
.profile-section-block .pro-img img {height: 100%;width: 100%; border-radius: 50%;}
.profile-section-block .update-pic-btns {margin: 10px 0 0;position: absolute; width: 40px; height: 40px; top: -18px; right: 0;}
.profile-section-block .up-btn {background-color: hsla(215, 26%, 25%, 0.63); border-radius: 3px;color: #fff;height: 40px;width: 40px; border: none; border-radius: 50%;}
.profile-section-block .attachment_upload {height: 35px;left: 0;opacity: 0;position: absolute;top: 0;width: 100%; cursor: pointer;}
.profile-section-block .profile-img-block{height: auto; position: relative; width: 120px; margin: 20px 0;}
.form-group select{background-image: url(../../images/admin/select-arrow.png); background-repeat: no-repeat; background-position: 98% 15px; padding-right: 30px;} 
.datepikr{background-image: url(../../images/admin/datepicker-icn-in.png); background-repeat: no-repeat; background-position: 98% 8px; padding-right: 30px;}
/*new profile image upload demo end*/
/*Radio Buttons*/
.radio-btns .radio-btn{display: block;position: relative;float: left;}
.radio-btns .radio-btn input[type=radio]{position: absolute;visibility: hidden;}
.radio-btns .radio-btn label{font-family: "open sans"; font-weight: normal; color: #646464; display: block; position: relative; font-size: 16px; padding: 0px 25px 0px 27px; margin: 10px auto;
z-index: 9; cursor: pointer; -webkit-transition: all 0.25s linear; }
.radio-btns .radio-btn .check{display: block; position: absolute;border: 2px solid #AAAAAA; border-radius: 100%;height: 20px; width: 20px;top: 12px; left: 0px; z-index: 5; transition: border .25s linear; -webkit-transition: border .25s linear; }
.radio-btns .radio-btn .check::before {border-radius: 100%;content: "";display: block;height: 10px;left: 3px;margin: auto;position: absolute;top: 3px;transition: background 0.25s linear 0s; width: 10px; }
.space-tb{margin: 20px 0;}
.map-block{margin-top: 30px;}
.radio-btns input[type=radio]:checked ~ .check {border: 2px solid #69768b;}
.radio-btns input[type=radio]:checked ~ .check::before{background: #69768b;}
.radio-btns input[type=radio]:checked ~ label{  color: #69768b;}
.edit-imgprent{margin-bottom: 30px; margin-top: 30px; border-radius: 50%; overflow: hidden;width: 100px; height: 100px; }
.edit-imgprent img{width: 100%; height: 100%;}
.edit-btns{position: relative;}
.edit-btn-profile{width: 40px; height: 40px; border-radius: 50%; border: 1px solid #a85027; background-color: #a85027; text-align: center; padding-top: 5px; font-size: 18px; color: #fff; display: block; position: absolute; right: 10px; top: 10px; cursor: pointer;}
.edit-btn-profile:hover{background-color: #fff; color: #a85027; }
/* Dashboard message start here */
.dash-white-main {background: #ffffff; box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1); border-radius: 3px;}
.dash-white-main .responsive-tabs.responsive-tabs-initialized{display:block}
.dash-white-main .responsive-tabs>div.content{clear:both}
.dash-white-main .responsive-tabs.accordion{border:1px solid #e1e1e1;}
.dash-white-main .responsive-tabs.accordion>nav{display:none}
.dash-white-main .responsive-tabs.accordion h3.accordion-title{margin:0}
.dash-white-main .responsive-tabs.accordion h3.accordion-title a{background:#fff;font-weight:400;border-top:1px solid #e1e1e1;padding:10px 15px;display:block;font-size:16px;color:#333;text-decoration:none}
.dash-white-main .responsive-tabs.accordion h3.accordion-title.active a{background: #4f81bd; color: #ffffff;}
.dash-white-main .responsive-tabs.accordion h3.accordion-title:first-child a{border-top:none}
.dash-white-main .responsive-tabs.accordion>div.content>section{padding:10px;background:#fff;display:block;border-top:1px solid #e1e1e1;overflow:auto}
.dash-white-main .responsive-tabs.tabs{border:none; margin: 0;}
.dash-white-main .responsive-tabs.tabs>nav ul{list-style:none;padding:0;margin:0; position: relative; height: 563px;}
.dash-white-main .responsive-tabs.tabs>nav ul:after{content:'';display:table;clear:both}
.dash-white-main .responsive-tabs.tabs>nav ul li a{color:#363636; padding:13px 15px 10px; display:block; font-family: 'Open Sans Light';}
.dash-white-main .responsive-tabs.tabs h3.accordion-title{display:none}
.dash-white-main .responsive-tabs.tabs>nav ul li a .travles-img{height: 36px; width: 36px; border-radius: 50%; float: left;
 position: relative;}
.dash-white-main .responsive-tabs.tabs>nav ul li a .travles-img .travles-green{position: absolute; top: 0; right: 0; background-color: #18d626; height: 8px; 
 width: 8px; border-radius: 50%;}
.dash-white-main .responsive-tabs.tabs > nav ul li a .travles-name-blo{display: block; padding: 9px 0 8px; margin-left: 47px;}
.dash-white-main .responsive-tabs.tabs > nav ul li a .travles-name-blo .travles-name-head{font-size: 14px; color: #363636; font-family: 'Open Sans'; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin: -7px 0 -17px; display: block;} 
.dash-white-main .responsive-tabs.tabs > nav ul li a .travles-name-blo .travles-name-sub{font-size: 12px; color: #363636; font-family: 'Open Sans Light'; margin: 19px 0 -9px; display: block;}
.dash-white-main .responsive-tabs.tabs>nav ul li a .travles-img img{border-radius: 50%; width: 33px; height: 33px;}
.dash-white-main .responsive-tabs.tabs>nav ul li a .travles-name{margin-left: 47px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block; padding: 9px 0 8px; font-size: 14px; color: #363636; font-family: 'Open Sans Light';}
.dash-white-main .responsive-tabs.tabs>nav ul li.active a{box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);}
/*Vertical Slider*/
.verticalslide{margin: 40px auto;}
.verticalslide.responsive-tabs.tabs > div.content{clear: none; display: block; margin-left: 220px; padding: 20px 0 20px 20px;}
.verticalslide.responsive-tabs.tabs > nav {display: inline; float: left; border: none; border-right: 1px solid #f0f3f6; max-width: 220px; width: 100%;}
.verticalslide.responsive-tabs.tabs > nav ul li{float: none; border-top:1px solid #f0f3f6;}
.verticalslide.responsive-tabs.tabs > nav ul li a:hover{box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15); background:#fff;}
/*Vertical Slider End*/
.search-member-block{position: relative;}
.search-member-block input{height: 50px; width: 100%; border: none; color: #a4a4a4; padding: 0 35px 0 15px;}
.search-member-block button{background: none; border: none; position: absolute; right: 5px; top: 13px;}
.left-message-block{position: relative; margin-bottom: 30px;}
.left-message-profile{height: 50px; width: 50px; border-radius: 50% !important; overflow: hidden; float: left; }
.left-message-profile img{width: 100%; height: 100%;}
.left-message-content{margin-left: 90px; background: #eff6fb; border-radius: 3px; padding: 8px 20px; display: inline-block; position: relative; margin-right: 20px;}
.left-message-content .arrow-message-left{position: absolute; left: -20px; top: 0;}
.left-message-content .actual-message{font-size: 14px; color: #333; font-family: 'Open Sans';}
.left-message-content .message-time{color: #535657; font-size: 12px; font-family: 'Open Sans Light'; text-align: left;}
.right-message-block .left-message-profile{left: auto; right: 0;}
.right-message-block.left-message-block{text-align: right; margin-right: 20px;}
.right-message-block.left-message-block .left-message-content{margin: 0 90px 0 0; background: #f3f3f3;}
.right-message-block.left-message-block .arrow-message-right{position: absolute; right: -20px; top: 0;}
.right-message-block.left-message-block .actual-message{color: #292d2f;}
.chat-travels-name{font-size: 16px; color: #a85027; font-family: 'Open Sans Semibold'; height: 50px; border-bottom: 1px solid #e4e4e4; padding: 13px 0; 
 margin: 0 0 0 240px;}
.dash-white-main .verticalslide.tabs.responsive-tabs.responsive-tabs-initialized{box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);}
.write-message-block{position: relative; margin-left: 219px !important; padding: 30px; background-color: #f3f3f3;}
.write-message-block input{width: 100%; height: 40px; border: 1px solid #c5c5c5; padding: 0 95px 0 15px; border-radius: 3px;}
.send-message-btn{height: 32px; width: 32px; border-radius: 50%; position: absolute; top: 4px; right: 10px; background: #a85027; color: #ffffff; font-size: 14px; text-align: center; border: 1px solid #a85027;}
.send-message-btn:hover{background: #fff; color: #a85027;}
.disput-popup{position: absolute; top: 4px; right: 60px;}
.disput-popup .fileUpload input.upload {position: absolute; left:0; top: 0; right: 0; margin: 0; padding: 0; font-size: 20px; cursor: pointer; opacity: 0;	filter: alpha(opacity=0); height: 100%;}
.disput-popup .fileUpload span{border-width: 0; cursor: pointer; display: block; margin: 0; opacity: 1; outline: medium none; font-size: 26px; line-height: 30px;} 
.disput-popup .fileUpload{text-align: center; display: inline-block; color: #a4a4a4;}
.messages-section{max-height: 423px; overflow: auto;}
.messages-section-main{height: 423px;}
.travles-green{display: none}
.travles-img.active .travles-green{display: block}
.left-message-profile-main {position: absolute; left: 0; top: 0; width: 50px; height: 50px;}
.rights-message-profile{position: absolute; right: 0; top: 0; width: 50px; height: 50px;}
.prent-megss-icn{display: block; margin-right: 10px; float: left;}
.prent-megss-icn a{display: block; width: 40px; height: 40px; border-radius: 50%; text-align: center; font-size: 30px; color: #a85027;}
.prent-megss-icn a:hover{color: #333;}
.prent-right-mess {margin-left: 50px; position: relative; }
.icon-like{text-align: center;display: inline-block; width: 60px; }
.like-icns{display: block; font-size: 20px; color: #78a006;}
.like-icns.redclrss{ color: #a00606;}
/* Dashboard message end here */
/*Parent View Course Material Start*/
.main-view-format{ margin-bottom: 20px; font-size: 14px; font-weight: 600;}
.view-format-left{ width: 25%; display: inline-block; vertical-align: top;}
.view-format-midal{font-weight: normal; display: inline-block; width: 45%;}
.view-format-right{ width: 10%;display: inline-block;}
.prentinfomain{display: block; height: 20px; position: relative; margin-bottom: 10px; float: right;}
.prentinfomain .p-a{display: none; position: absolute; width: 300px; padding: 10px; font-size: 13px; background-color: #fff; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 1px 10px 1px rgba(0, 0, 0, .05); font-weight: 100; z-index: 1; line-height: 17px;}
.prentinfomain:hover .p-a{display: block;}
.info-viewpage{font-size: 18px; color: #a85027; margin-left: 10px; display: inline-block; width: 25px;}
.info-viewpage:hover{color: #333;}
.info-viewpage2{font-size: 18px; color: #a85027; margin-left: 10px; display:block; float: right; width: 25px;}
.info-viewpage2:hover{color: #333;}
.nm-break{display: block; word-break: break-all; margin-left: 25px;}
.left-icn-doct{float: left; display: block;}
.icn-prnt-cors{margin-bottom: 10px; display: inline-block;}
.p-parent-curs{margin-bottom: 16px;}
/*Parent View Course Material Start*/
/*Parent Add Booking Start Here*/
.canteen-title-txt{width: 18.5%; display: inline-block; margin-right: 1%; text-align: center; font-size: 14px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 1px 10px 1px rgba(0, 0, 0, .05); margin-bottom: 15px;}
.sub-canteen-titl-txt{display: table; margin: 0 auto;}
.prnt-bkg{display: table-cell; vertical-align: middle; height: 100px; text-align: center;}
.bold-txt-add{font-weight: 600;}
.pd-txt{color: #a85027; margin-left: 35px;}
.present-txt{color: #73a706; font-weight: 600;}
.absent-txt{color: #a21212; font-weight: 600;}
.late-txt{color: #cfab02; font-weight: 600;}
.week-attendc-smry{ font-size: 20px;font-weight: 600; margin-bottom: 25px; }
/*Parent Add Booking End Here*/
/*Parent Product Page Start*/
.Latest-cou-list-blo {border-left: none; border-right: none; border-radius: 5px; box-shadow: 0 1px 10px 1px rgba(0, 0, 0, .05); margin-bottom: 20px;}
.Latest-cou-img-blo{position: relative; height: 217px; overflow: hidden; background-color: #eaebed;}
.Latest-list-img{height: 217px; width: 100%; border-radius: 5px 5px 0px 0px;}
.view-info-over { position: absolute; right: 0; left: 0px; top: 0px; bottom: 0px; z-index: 99;display: none; margin: auto; width: 140px; height: 40px;}
.view-info-over a {padding: 9px 10px 9px; background-color: #69768b; text-align: center; font-family:'Open Sans Semibold'; font-size: 14px; text-transform: uppercase; color: #ffffff; border-radius: 4px; display: block;}
.view-info-over a:hover{  background-color: #a85027;}
.Latest-cou-text-blo{padding: 10px 11px 4px;background-color: #ffffff;border-radius: 0 0 5px 5px;border: 1px solid #e7eaec; margin-left: 0px; text-align: left;}
.title-products {text-align: left;font-size: 16px;color: #a85027;height: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: block;}
.address-block-new {font-size: 14px;font-family:'Open Sans Light';color: #343c41;margin-bottom: 3px;}
.Latest-cou-img-blo:hover:before {content: "";position: absolute;left: 0;top: 0;height: 100%;width: 100%;background-color: rgba(17,56,91,0.7);z-index: 9;overflow: hidden;border-radius: 5px;}
.Latest-cou-img-blo:hover .view-info-over {display: block;}
.viewcart-a{font-size: 18px; color: #a85027; font-weight: 600; padding-bottom: 10px; margin-bottom: 15px; border-bottom: 1px solid #ccc;}
.viewcart-a span{display: inline-block; margin-top: 10px;}
.prent-pro-content{margin-top: 30px;}
.img-content-prnt{width: 110px; height: 100px; float: left; border-radius: 5px;}
.img-content-prnt img{width: 100%; height: 100%; border-radius: 5px;}
.txts-content-prnt{margin-left: 130px; position: relative;}
.product-title-listname{font-size: 16px; font-weight: 600; color: #a85027; white-space: nowrap; overflow: hidden; height: 24px; text-overflow: ellipsis; margin-bottom: 10px;}
.content-list-li{padding: 15px;margin-bottom: 15px; border-bottom: 1px solid #efefef;}
.totl-pric-nm{display: inline-block;  width: 48%;}
.price-tlt{display: inline-block;  width: 48%; font-family:'Open Sans Semibold';}
.main-prices{margin-bottom: 7px; display: block;}
.guest-input{width: 60px; height: 30px; border: 1px solid #ccc; text-align: center;}
.guest-btn{width: 30px; height: 30px; text-align: center; padding-top: 0px; background-color: #fff; color: #3e4349; border: 1px solid #ced4da; border-radius: 4px;}
.guest-btn:hover{background-color: #3e4349; color: #fff;}
.pading-tb-pro{padding: 20px 0;}
.closebtn-cteen { display: block; position: absolute;right: 0;top: 0; width: 22px;height: 22px; transition: transform .25s ease-in-out; -webkit-transition: transform .25s ease-in-out; -moz-transition: transform .25s ease-in-out; -ms-transition: transform .25s ease-in-out;  }
.closebtn-cteen:hover { transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); }
.closebtn-cteen:before { content: ""; position: absolute; display: block;margin: auto; left: 0;right: 0; top: 0; bottom: 0;width: 22px; height: 0;border-top: 1px solid rgba(0,0,0,0.5); transform: rotate(45deg);-webkit-transform: rotate(45deg);  -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); transform-origin: center; }
.closebtn-cteen:after { content: "";position: absolute;display: block;margin: auto;left: 0;right: 0;top: 0;bottom: 0;width: 22px;height: 0;border-top: 1px solid rgba(0,0,0,0.5);transform: rotate(-45deg); -webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg); transform-origin: center; }
.btn.btn-primary.checkoutbt {width: 100%;padding: 10px;font-size: 17px; border-radius: 0 0 5px 5px !important;}
/*Parent Product Page End*/
/*Yogesh CSS Start*/
#sidebar #sidebar-collapse .open-arrow{display:none;color: #ffffff}
#sidebar #sidebar-collapse .close-arrow{color: #ffffff}
#sidebar.navbar-collapse.collapse.sidebar-collapsed #sidebar-collapse .open-arrow{display:inline-block;color: #ffffff}
#sidebar.navbar-collapse.collapse.sidebar-collapsed #sidebar-collapse .close-arrow{display:none;color: #ffffff}
/*Yogesh CSS End*/
#main-content{margin-left: 200px;}
.ttl-express{-webkit-transition: all .2s ease .1s;  -o-transition: all .2s ease .1s; transition: all .2s ease .1s;}
.ttl-express:hover .left-icns-tp{width: 80px; height: 90px; border-radius: 5px 0 0 5px; margin: 0px 15px -48px 0;-webkit-transition: all .2s ease .1s;  -o-transition: all .2s ease .1s; transition: all .2s ease .1s; }
.ttl-express:hover .left-icns-tp img{padding-top: 32px; -webkit-transition: all .2s ease .1s; -o-transition: all .2s ease .1s; transition: all .2s ease .1s;} 
.ttl-express:hover .left-icns-tp:before{top: -40%; -webkit-transition: all .2s ease .1s; -o-transition: all .2s ease .1s; transition: all .2s ease .1s;} 
.ttl-express:hover .left-icns-tp::after{top: -25%; -webkit-transition: all .2s ease .1s; -o-transition: all .2s ease .1s; transition: all .2s ease .1s;}
/*  ----- Admin User Parent End  -----  */

/*  ----- Professor User Parent Start  -----  */
.flot-rights{float: left;}
.flot-rightd span{font-weight: 600;}
.flot-rightd{float: right; margin-top: 10px;}
.student-profsr-attnc{float: left;margin-top: 15px;}
.student-profsr-attnc-right{margin-left: 200px;}
.professor-dashboard-body .ttl-express{border-bottom: none;}
.border-our{border: 1px solid #e0e0e0; display: block; float: left; margin: 5px;}
.spacr-bottpm{margin-bottom: 30px;margin-top: 20px;}
.radio-btns.student-radios .radio-btn{margin: 20px;}
.student-row-main-box{margin-bottom: 15px;}
.radio-btns .radio-btn label.texts-success{color: #3c763d;}
.radio-btns .radio-btn label.texts-danger{color: #a94442;}
.radio-btns .radio-btn label.texts-warning{color: #8a6d3b;}
.radio-btns.student-radios{display: block; float: none;}
.form-group.inpt-subs .subform-labl.control-label{float: left;}
.form-group.inpt-subs .controls{float: none; margin-left: 200px; /*max-width: 320px; width: 100%;*/}
.tottl-bold{font-weight: 600; font-size: 16px;}
.form-group.profs-stnt{width: 140px; margin-bottom: 0; margin-top: 5px;}
.form-horizontal .form-group.spac-b{margin: 0px !important;}
.form-horizontal .form-group.profs-stnt{margin: 0px !important;}
.professor-dashboard-body .dash-circle-bx-professor1{background-color: #e8a93b;}
.professor-dashboard-body .dash-circle-bx-professor2{background-color: #6b76ec;}
.professor-dashboard-body .dash-circle-bx-professor3{background-color: #fe413b;}
.professor-dashboard-body .dash-circle-bx-professor4{background-color: #9657c5;}
.professor-dashboard-body .dash-circle-bx-professor5{background-color: #a85027;}
.professor-dashboard-body .dash-circle-bx-professor6{background-color: #69768b;}
.professor-dashboard-body .dash-circle-bx-professor7{background-color: #5e6db3;}
.professor-dashboard-body .dash-circle-bx-professor8{background-color: #0063bf;}
.professor-dashboard-body .dash-circle-bx-professor9{background-color: #189fbc;}
.professor-dashboard-body .dash-circle-bx-professor10{background-color: #6117ae;}
.professor-dashboard-body .dash-circle-bx-professor11{background-color: #0faf97;}
.professor-dashboard-body .dash-circle-bx-professor12{background-color: #78af0f;}
.professor-dashboard-body .dash-circle-bx-professor13{background-color: #afa90f;}
.professor-dashboard-body .dash-circle-bx-professor14{background-color: #c67707;}
.professor-dashboard-body .dash-circle-bx-professor15{background-color: #c60761;}
.professor-dashboard-body .dash-circle-bx-professor16{background-color: #c63d07;}
.professor-dashboard-body .left-icns-tp.dash-circle1{background-color: transparent !important;}
.professor-dashboard-body .ttl-express:hover .left-icns-tp img{ padding-top: 20px;}
.professor-dashboard-body .ttl-express:hover .left-icns-tp img{width: 54px;}
.professor-dashboard-body .left-icns-tp:before{ display: none;}
.professor-dashboard-body .left-icns-tp:after{ display: none;}
.professor-dashboard-body .dash-color-bg .info-box-contentts{color: #fff;}
.professor-dashboard-body span.name-tilt{color: #fff; opacity: 0.8;}
.professor-dashboard-body span.counts{font-size: 22px;}
.professor-dashboard-body .ttl-express{box-shadow: 0; transition: box-shadow 1s; -webkit-transition: box-shadow 1s; -moz-transition: box-shadow 1s; -ms-transition: box-shadow 1s; -o-transition: box-shadow 1s;}
.professor-dashboard-body .ttl-express:hover{box-shadow: 0 0 3px #515151;}
.multis .select2-container{ display: block !important; width: 100% !important; }
.multis  .select2-container--default .select2-selection--multiple{border: 1px solid #ced4da !important; height: 40px; overflow-y: auto;}
.box-url-list-prossor ul li a{color: #333; font-size: 13px;}
.box-url-list-prossor ul li a:hover{color: #a85027;}
.box-url-list-prossor ul li{display: block; margin-bottom: 10px; position: relative;}
.box-url-list-prossor {padding: 15px; border: 1px solid #e3e3e3;}
.box-url-list-prossor.uploadadd-materials ul li{display: inline-block; padding-right: 30px;}
.btupload-file{width: 100px; height:34px; background-color: #69768b; border: 1px solid #69768b; color: #fff; text-align: center; padding-top: 5px; display: block; font-size: 14px; border-radius: 3px;}
.btupload-file:hover{background-color: #fff; border: 1px solid #69768b; color: #69768b;}
.btn.btn-primary.sv-space{margin: 30px auto; width: 120px; display: block;}
.label.label-success.label-pendings{background-color: #e6a917;}
.pagination-nav ul li{display: inline-block;margin-right: 2px; vertical-align: top;margin-bottom: 5px;}
.pagination-nav ul li a{display: block; width: 30px; height: 30px; text-align: center; font-size: 16px; border: 1px solid #69768b; color: #69768b; line-height: 29px; border-radius: 3px;}
.pagination-nav ul li a:hover{background-color: #69768b; color: #fff;}
.pagination-nav ul li a.active{background-color: #69768b; color: #fff;}
.pagination-nav ul li .priv-cn{background-color: #69768b; color: #fff;line-height: 22px; border-radius: 3px;}
.box-url-list-prossor ul li a.minus-cls-proadd{font-size:16px; margin-right: 5px; margin-left: 5px; display: inline-block;}
.form-group textarea{border: 1px solid #ced4da; width: 100%;padding: 10px;}
.box .box-title h3 span{display: inline-block; text-transform: none; font-weight: 100;}

.profer-atentc{margin-bottom: 20px; font-size: 16px; padding: 20px; border: 1px solid #dedede;  border-radius: 5px;}
.pressent-succ{ color: #3c763d; padding: 10px; border-radius: 3px; background-color: #dff0d8;}
.pressent-dentgr{ color: #a94442; padding: 10px; border-radius: 3px; background-color: #f2dede;}
.pressent-pendngs{ color: #8a6d3b; padding: 10px; border-radius: 3px; background-color: #fcf8e3;}
.student-nm-dent{float: left;margin-top: 11px; font-weight: 100; font-size: 15px; margin-bottom: 5px;}
.present-cls{margin-left: 160px;}
.not-raised-txt{display: inline-block; padding: 5px 15px; border-radius: 3px; background-color: #e00500; color: #fff; font-size: 12px; font-weight: 600;}
.not-raised-txt:hover{ background-color: #fafafa; color: #333;}
.not-raised-txt.grays{background-color: #ccc; color: #333; }
.sb-titl-pro-surv{font-size: 16px;margin-bottom: 15px; display: inline-block;}
.left-fessor-vw-left{float: left; font-family:'Open Sans Semibold';}
.left-fessor-vw-right{margin-left: 200px; font-family:'Open Sans';}
.pr-viw-contents {background-color: #f1f1f1;padding: 20px;}
.radio-btns.disply-blck .radio-btn{float: none;}
.radio-btns.disply-blck .radio-btn .check{top: 2px;}
.txt-apropriate{color: #4b9f08;}
.read-apropriate{color: #cb0000;}
.scl-viw-a:first-child {border-right: 1px solid #ccc;}
.scl-viw-a {display: inline-block;color: #333;margin-right: 20px;padding-right: 20px;}
.scl-viw-a.active {color: #a85027;}


.professor-dashboard-body .table.table-advance thead th{padding: 15px 10px;  background-color: #f5f6fa;}
.professor-dashboard-body .table-advance thead{border-left: none;}
.professor-dashboard-body .table.table-advance tbody tr td:last-child a{background: #fff; color: #14bab0;border: 1px solid #14bab0;}
.professor-dashboard-body .table.table-advance tbody tr td:last-child a:hover{background: #14bab0; color: #fff;}
.professor-dashboard-body .table.table-advance tbody tr:nth-child(2n+2){background-color: #f5f6fa;}



.professor-dashboard-body .table-advance tbody > tr{border: 1px solid #efefef;}
.professor-dashboard-body .btn.btn-primary{ background-color: #14bab0;border: 1px solid #14bab0;padding: 7px 20px 10px;font-size: 16px;}
.professor-dashboard-body .btn.btn-primary:hover{background-color: #fff;border: 1px solid #14bab0; color: #14bab0;}
.professor-dashboard-body .date-seciton a{color: #14bab0;}
.professor-dashboard-body .pagination-nav ul li .priv-cn{background-color: #14bab0;color: #fff;}
.professor-dashboard-body .pagination-nav ul li a{border: 1px solid #ccc; color: #14bab0;}
.professor-dashboard-body .pagination-nav ul li a.active {background-color: #14bab0;color: #fff;}
.professor-dashboard-body .table thead > tr > th > a.sort-asc, .professor-dashboard-body .table thead > tr > th > a.sort-desc{ color: #595c68; }
.sidebar-navy_blue.professor-left-class .nav-list > li > a{background-color: #2a3542;}
.professor-left-class .nav-list > li{border-bottom: none;}
.sidebar-navy_blue.professor-left-class .nav-list > li.active > a{background-color: #35404d;}
.sidebar-navy_blue.professor-left-class .navbar-collapse.collapse .logo-side{background-color: #1e2732;border-bottom: 1px solid #1e2732 !important;}
.sidebar-navy_blue.professor-left-class .navbar-collapse.collapse .logo-side a.master-brands{background-color: #1e2732 !important;}
.sidebar-navy_blue.professor-left-class #sidebar::before, .sidebar-navy_blue.professor-left-class .nav-list .search-form, .sidebar-navy_blue.professor-left-class .nav-list .search-pan input, .sidebar-navy_blue.professor-left-class .nav-list > li > a {background-color: #1e2732;}
.professor-dashboard-body .refrash-btns{background-color: #473f3f !important; border-color: #473f3f !important;}
.professor-dashboard-body .page-title.new-agetitle{background-color: #14bab0; }
.professor-dashboard-body .page-title > div h1{font-weight: normal;font-family:'Open Sans Light';}
.professor-dashboard-body .breadcrumb > li.active{color: #14bab0;}
.professor-dashboard-body .box .box-title h3{color: #5c6564;font-size: 16px;font-weight: 600;}
.professor-dashboard-body .box.box-navy_blue > .box-title:after{background-color: #14bab0;}
.professor-dashboard-body .prent-megss-icn a{color: #14bab0;}
.professor-dashboard-body .send-message-btn{background: #14bab0; border: 1px solid #14bab0;}
.professor-dashboard-body .send-message-btn:hover{background: #fff; border: 1px solid #14bab0;color: #14bab0;}
.professor-dashboard-body .chat-travels-name{color: #14bab0;}
.professor-dashboard-body .dash-white-main .responsive-tabs.tabs > nav ul li.active a{background-color: #14bab0;}
.professor-dashboard-body .dash-white-main .responsive-tabs.tabs > nav ul li.active a .travles-name-blo .travles-name-head{color: #fff; font-weight: 600;}
.professor-dashboard-body .dash-white-main .responsive-tabs.tabs > nav ul li.active a .travles-name-blo .travles-name-sub{color: #fff;}
.professor-dashboard-body .btupload-file{background-color: #14bab0; border: 1px solid #14bab0;}
.professor-dashboard-body .box-url-list-prossor ul li a i{color: #14bab0;}
.professor-dashboard-body .info-viewpage{color: #758685;}
.professor-dashboard-body .pagination-nav ul li a:hover {background-color: #14bab0;color: #fff !important;}
.professor-dashboard-body label{ color: #4a4a4a; font-weight: normal; font-size: 15px; }
.navbar.professor-header-class{min-height: 70px; height: 100%;}
.navbar.professor-header-class .nav {margin-top: 15px;}
.professor-left-class .nav-list > li > a .arrow{margin-top: 14px;}
.professor-left-class .nav-list > li .submenu > li a { color: #a5adba;}
.professor-left-class .nav-list > li .submenu > li:after {border-left: 1px dashed rgba(255, 255, 255, 0.19); }
.professor-left-class  .nav-list > li .submenu > li::before, .professor-left-class  .nav-list > li .submenu > li > ul > li::before { border-top: 1px dashed rgb(255, 255, 255, 0.19); }
.sidebar-navy_blue.professor-left-class .nav-list > li .submenu > li > a:hover{background-color: #515f75;}
.navbar.professor-header-class .nav > li > a i{color: #767f92;}
.professor-header-class a.navbar-brand.logotxts{margin-top: 13px;}
.professor-dashboard-body .text-muted.label.label-danger{font-weight: normal;}
.professor-dashboard-body .scl-viw-a.active{color: #14bab0;}
.professor-dashboard-body .profer-atentc{border: 1px solid #e6e6e6; background-color: #fafafa;}

.professor-dashboard-body .table thead th input{background-color: #dbdee7; border: none; color: #3f4a6b;}

.professor-dashboard-body .radio-btns input[type="radio"]:checked ~ label{color: #14bab0;}
.professor-dashboard-body .radio-btns input[type="radio"]:checked ~ .check:before { background: #14bab0; }

.professor-dashboard-body .radio-btns input[type="radio"]:checked ~ .check {border: 2px solid #14bab0;}











/*  ----- Professor User Parent End  -----  */

/*Login Page Start*/
.forgot-pass-txts{text-align: right;}
.main-loginpage{display: -webkit-flex; display: -moz-flex; display: -ms-flex;display: -o-flex; display: flex; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;background-color: #fff;  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.15); -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,.15); -o-box-shadow: 0 1px 4px 0 rgba(0,0,0,.15); box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);  border-radius: 10px; font-size: 14px; overflow: hidden;margin-top: 30px;}
.login-container {position: relative;max-width: 680px;width: 94%;margin: 0 auto;}
.login-content {padding: 35px 35px 20px;width: 60%;order: 1;}
.table {width: 99.8%;}
.logo-content {background-color: #a85027;padding: 35px 35px 20px;width: 40%;order: 2; position: relative;}
.form-control{height: 40px; border: 1px solid #ced4da;}
.masterset-uplogo{font-weight: bold; color: #fff; font-size: 26px; text-transform: uppercase; position: absolute; width: 100%; top: 0px; bottom: 0px; left: 0px; right: 0px; margin: auto; height: 34px;text-align: center;}
.masterset-uplogo span{font-weight: 300;}
.goto-forgot{color: #a85027;}
.goto-forgot:hover{color: #333;}
.login-page:before{background: transparent url(../../images/admin/bg_1.png) repeat !important; }
.registration-txt a{color: #a85027;}
.registration-txt a:hover{color: #333;}
.btn.btn-info.form-control.fb-colors{background-color: #3b5998; color: #fff; border: 1px solid #3b5998;}
.btn.btn-info.form-control.fb-colors:hover{background-color: #fff; color: #3b5998;}
a.navbar-brand.logotxts {text-transform: uppercase;font-size: 17px;font-weight: bold;}

/*Login Page End*/

@media all and (max-width:1300px){
.form-group.inpt-subs .subform-labl.control-label{float: none;margin-bottom: 3px;}
.form-group.inpt-subs .controls{margin-left: 0;}
.form-group.start-towpro .form-control{margin-bottom: 10px;}
}

@media all and (max-width:1024px){
/*  ----- Admin User Parent Start  -----  */    
/*Parent View Course Material Start*/
.view-format-left{display: block; width: 100%;}
.view-format-midal{display: inline-block; width: 100%;}
/*Parent View Course Material End*/
/*  ----- Admin User Parent End  -----  */    
    
}
@media all and (max-width:991px){
 /*  ----- Admin User Parent Start  -----  */   
/*message page start here*/
.write-message-block{margin: 0 0 0 220px;}  
/*message page end here*/
 /*  ----- Admin User Parent End  -----  */   
}

@media all and (max-width:767px){
 /*  ----- Admin User Parent Start  -----  */   
/*Parent Product Page Start*/
.closebtn-cteen{right: 20px; top: 20px;}
.img-content-prnt{float: none; margin: 0 auto 10px;}
.txts-content-prnt{margin-left: 0; position: static;}
.content-list-li{position: relative;}
/*Parent Product Page End*/
    
/*message page start here*/
.chat-travels-name{display: none;}
.write-message-block{margin: 0px;}
.write-message-block{margin-left: 0px !important;}
/*message page end here*/

/*Parent Add Booking Start Here*/
.canteen-title-txt{ display: block; width: 100%;}
/*Parent Add Booking End Here*/
 /*  ----- Admin User Parent End  -----  */   
}

@media all and (max-width:480px){
    .student-nm-dent{float: none;margin-top: 0;} 
    .present-cls{margin-left: 0;}
}